.modal-content{
    border-width: 3px;
    border-color: var(--primaryColor);
    align-items: center;
    justify-content: center;
    background:linear-gradient(135deg,var(--grayColor), var(--primaryColor));
}

.modal-content > * {
    width: 100%;
}


.btn-close{
    background-color: red;
    opacity: 0.8;
    padding: 10px !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

img {
    display: flex;
    margin:  0 auto;
    height: calc(1.4* 278px);
    width: calc(1.4* 185px);
    border-radius: var(--cardBorderRadius);
    -webkit-border-radius: var(--cardBorderRadius);
    -moz-border-radius: var(--cardBorderRadius);
    -ms-border-radius: var(--cardBorderRadius);
    -o-border-radius: var(--cardBorderRadius);
}

.modal-footer {
    justify-content: space-between;
}