.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
}

.navbar__logo {
  margin: 0;
  font-size: 24px;
  margin-left: 10px;
}

.navbar__links {
  display: flex;
}

.navbar__link {
  margin-right: 20px;
}

.navbar__link a {
  color: #fff;
  text-decoration: none;
  transition: opacity 0.2s;
}

.navbar__link a:hover {
  opacity: 0.8;
}